
div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;    
}

.title{
  font-size: 30px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

button{
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}

.dice-container button{
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background: #fff;
  font-weight: bold;
  font-size: 1.75rem;
  cursor: pointer;
}

button.roll-dice{
  width: auto;
  white-space: nowrap;
  padding: 6px 21px;
  height: 50px;
  border: none;
  background-color: #5035FF;
  color: white;
  border-radius: 6px;
  font-size: 1.2rem;
}